/* 
    Document   : style
    Created on : 04/11/2013, 19:14:09
    Author     : Max Naegeler Roecker
    Description:
        CSS para estilizar as páginas do trabalho de PPIOO de 2013
*/

/*ESTRUTURAL -----------------------------------------------------------------*/
body {
    padding: 75px 0;
}

/*HEADER ---------------------------------------------------------------------*/
header{

}

/*ASIDE ----------------------------------------------------------------------*/
aside .nav.nav-pills a{
    color: #777;
}
aside .nav.nav-pills a:hover,
aside .nav.nav-pills a:focus{
    color: #333;
}

input[selectsearch]{
    width: 100%;
}


ul.parsley-error-list{
    padding: 0;
    list-style: none;
}
ul.parsley-error-list li{
    color: #b92c28;
}

/*TABLE ----------------------------------------------------------------------*/
[data-rowlink] tr[data-rowlink-href]{
    cursor: pointer;
}